/* general rules ------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug {
  border: 1px solid black;
}
body {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #23272a;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  display: inline-block;
  border-radius: 40px;
  padding: 16px 32px;
  background-color: #8ea1e1;
  color: #fff;
  text-decoration: none;
}

/* header */

header {
  height: 80px;
  line-height: 80px;
  /* min-width: 732px; */
  background-color: rgba(49, 97, 224, 255);
}
nav .logo,
nav ul {
  float: left;
}
nav .logo img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
nav .logo {
  width: 15%;
  vertical-align: middle;
}
nav .logo > a {
  float: left;
}
nav ul {
  list-style-type: none;
  width: 70%;
  text-align: center;
  vertical-align: middle;
}
nav ul li {
  display: inline-block;
  margin: 0 2vw;
}
nav ul li a {
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}
#accedi {
  float: right;
  width: 15%;
  line-height: 80px;
}
#accedi a.btn {
  margin-top: 25px;
  padding: 0 14px;
  background-color: #fff;
  font-size: 14px;
  color: #23272a;
  display: block;
  width: 74px;
  height: 36px;
  line-height: 36px;
  float: right;
}
.btn {
  font-weight: bold;
}

/* main */

#jumbotron {
  min-height: 546px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}
#jumbotron .container {
  max-width: 780px;
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
}
h1 {
  font-size: 56px;
}
#jumbotron p {
  line-height: 1.8em;
}
h1,
#jumbotron p {
  padding-bottom: 30px;
}
.white-black {
  color: black;
  background-color: white;
}
.black-white {
  color: white;
  background-color: black;
}
#jumbotron .container > a.btn {
  margin: 0 10px;
}
.fas.fa-long-arrow-alt-down {
  color: #23272a;
}
.main-section {
  width: 100%;
  padding: 100px 0;
}
.image {
  width: 50%;
  float: left;
}
.description {
  padding: 2.5vw 10vw;
  width: 50%;
  float: right;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h2 {
  font-size: 3vw;
  margin-bottom: 20px;
}
.main-section p {
  font-size: 1.4vw;
  line-height: 1.2em;
}
.wave {
  height: 5vw;
  width: 100%;
  background-image: url(../img/wave.svg);
  background-size: cover;
  opacity: 0.1;
}
.left {
  float: left;
}
.right {
  float: right;
}
.wave2 {
  height: 5vw;
  width: 100%;
  object-fit: cover;
  opacity: 0.1;
  position: relative;
}
.wave2 img {
  transform: rotate(180deg);
  position: absolute;
}
.main-section:nth-child(4),
.main-section:nth-child(8) {
  background-color: #e5e5e5;
}
.image-center {
  margin: 0 auto;
  width: 80%;
}
.image-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description-center {
  text-align: center;
  padding: 2.5vw 10vw;
  width: 100%;
}
.stars {
  width: 50%;
  margin: 0 auto;
}
.stars img {
  width: 100%;
  object-fit: cover;
}
.title-center {
  width: 100%;
  text-align: center;
}
h3 {
  font-size: 2.5vw;
}
.centered {
  text-align: center;
}
a.centered {
  display: block;
  margin: 20px auto;
  width: fit-content;
}

/* footer */

footer {
  padding: 5vw 0;
  background-color: #23272a;
}
.footer-up {
  width: 100%;
  height: 30vw;
  padding-bottom: 20px;
  border-bottom: 2px solid #7289da;
  margin: 0 auto;
}
.footer-bottom {
  width: 100%;
  height: 5vw;
  margin: 0 auto;
}
h4 {
  color: #7289da;
  font-size: 2.5vw;
  margin-bottom: 30px;
}
.main-block {
  float: left;
  width: 30%;
}
.main-block > a {
  display: inline-block;
  width: 30px;
  height: 20px;
  vertical-align: middle;
}
.main-block > a img {
  width: 100%;
  height: 100%;
}
select {
  width: 5vw;
  min-width: 44px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #23272a;
}
.social-icons {
  margin-top: 30px;
  width: 100%;
  min-width: 180px;
}
i {
  margin-right: 20px;
  color: white;
}
.list-block {
  float: right;
  width: 60%;
  position: relative;
}
.first-list {
  display: block;
  width: 25%;
  position: absolute;
  top: 0;
}
.second-list {
  display: block;
  width: 25%;
  position: absolute;
  top: 0;
  left: 25%;
}
.third-list {
  display: block;
  width: 25%;
  position: absolute;
  top: 0;
  left: 50%;
}
.fourth-list {
  display: block;
  width: 25%;
  position: absolute;
  top: 0;
  left: 75%;
}
.list-block ul li a {
  display: block;
  color: white;
  font-size: 1.1vw;
  font-weight: bold;
  text-decoration: none;
}
.list-block ul li {
  list-style-type: none;
  padding-bottom: 1vw;
}
.first-list > li:first-child a,
.second-list > li:first-child a,
.third-list > li:first-child a,
.fourth-list > li:first-child a {
  color: #7289da;
  font-size: 1.3vw;
}

/* footer-bottom */

#registrati {
  float: right;
  width: 15%;
  padding: 20px 0;
  font-size: 14px;
}
#registrati > a {
  float: right;
}
.footer-bottom > .logo {
  width: 15%;
  padding: 20px 0;
  float: left;
}
.footer-bottom .logo > a {
  float: left;
}
#registrati > a.btn {
  padding: 10px 14px;
}
